*{
    margin: 0%;
    padding: 0%;
}


body {

background-color: #a871b6;


}

.cabecalho{
background-color: rgb(236, 193, 250);
display: flex;
justify-content: space-around;
align-items: center;
}

.cabecalho__titulo{

    display: inline;
}

.cabecalho__imagem {

width: 130px;
height: 160px;
border-radius: 100px;

}

.cabecalho__menu{
    display: inline;

}

.cabecalho__menu-item{

    display: inline;
    margin-left: 20px;
    font-size: 32px;
}

.escola{
    display: flex;
    background-color: rgb(229, 128, 233);
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-radius: 40px;

}

.escola__imagem {
width: 300px;
height: auto;

}

.professores {

    background-color: #9ed1e9;
}

.professores__div-imagem {
    width: 120px;
    height: auto;
}