* {
    margem :  0 % ;
    preenchimento :  0 % ;
}
corpo {
    font-family :  'Sono' , sem serifa;
    cor de fundo :  # fafafa ;
}
. cabecalho {
    cor de fundo :  rgb ( 139 ,  137 ,  135 );
    exibição : flexível;
    justificar-conteúdo : espaço ao redor;
    itens de alinhamento : centro;
}
. cabecalho__titulo {
    exibição : em linha;
}
. cabecalho__imagem {
    largura :  130 px ;
    altura :  160 px ;
    raio da borda :  100 px ;
}
. cabecalho__menu {
    exibição : em linha;
}
. cabecalho__menu-item {
    exibição : em linha;
    margem esquerda :  20 px ;
    tamanho da fonte :  32 px ;
}
. escola {
    exibição : flexível;
    cor de fundo : cinza escuro;
    justificar-conteúdo : espaço ao redor;
    itens de alinhamento : centro;
    margem :  20 px ;
    raio da borda :  40 px ;
}
. escola__imagem {
    largura :  300 px ;
    altura : automático;
}
. professores {
    exibição : grade;
    justificar-conteúdo : centro;
    grid-template-columns :   1 fr  1 fr  1 fr  1 fr  1 fr ;
    itens de alinhamento : centro;
    grid-template-columns :   1 fr  1 fr  1 fr ;
    itens de lugar : centro;
    justificar-itens : cen;
    cor de fundo :  # FEC229 ;

}